name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: 체크아웃 코드
      uses: actions/checkout@v3

    - name: Docker 이미지 빌드 테스트
      run: docker build -t my-nginx:2.0 .

    - name: 서버 접속 및 앤서블 실행 (CD 완성)
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: root
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        script: |
          cd /home/woo/ansible_test
          ansible-playbook -i hosts deploy_nginx.yml
